.projectTileContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projectTileLink{
    height: 350px;
    width: 500px;
    margin: 50px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: scale(1.0);
    transition: 0.2s ease-in;
}

.projectTileLink:hover{
    transform: scale(1.03);
    transition: 0.2s ease-out;
}

.projectTileImage{
    height: 350px;
    width: 500px;
}

.projectPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectPage h2{
    margin: 2px;
}

.projectPage h3{
    margin: 2px;
}

.projectPageHeader{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projectPageDetails{
    display: flex;
    flex-direction: column;
}

.projectPageRole{
    width: 80vw;
    margin-top: 30px;
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:first baseline;
}

.projectRoleDesc{
    width: 50%;
}

.projectPageDescAndEmbed{
    width: 80vw;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: first baseline;
}

.projectPageDescription{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.projectPageEmbed{
    width: 50%;
}

.viewMoreButton{
    padding: 10px;
    border-radius: 25px;
    background-color: var(--accent);
    color: var(--background);
    text-decoration: none;
}