.filmStripColumn{
    display: none;
}

.slick-list{
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.film-strip-slide {
    height: 250px; /* Adjust as needed */
    width: 100%;
    margin-right: 30px; /* Spacing between slides */
    position: relative; /* For image positioning */
    text-align: center;
}

.film-strip-image {
    width: 100%; /* Make the image fill the slide width */
    height: 100%; /* Make the image fill the slide height */
    object-fit: contain;
}

.film-strip-caption{
    max-width: 400px;
    width: 100%;
    color: white;
}

.slick-prev {
    left: 2% !important;
    z-index: 1;
}
.slick-next {
    right: 2% !important;
    z-index: 1;
}

.filmStripNew{
    --background: rgba(0, 0, 0, .9);
    --size: 10px;
    background-image:
      linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
      linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
      linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
      linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
      linear-gradient(to bottom, transparent var(--size), var(--background) var(--size));
    background-size: calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
    background-repeat: repeat-x;
    background-position: 0 var(--size), top left, 0 calc(100% - var(--size)), bottom left, 0 var(--size);
    padding-top: calc(var(--size) * 3.5);
    padding-bottom: calc(var(--size) * 2);
    padding-right: calc(var(--size) * 2);
    padding-left: calc(var(--size) * 2);
    box-sizing: border-box;
  }


/* Code from CSS Shapes: https://css-shape.com/film-strip/ */
.filmStrip {
    --s: 10px; /* control the size */
    --c: #222;
    height: calc(25*var(--s));
    aspect-ratio: 1.25;
    background: 
      conic-gradient(at 60% var(--s),var(--c) 75%,#0000 0) 
      0 0/calc(2*var(--s)) calc(100% - var(--s)) padding-box;
    border: var(--s) solid var(--c);
    padding: calc(var(--s)*2) calc(var(--s)*1.5);
    box-sizing: content-box;
    /* you can add a filter for an oldish effect 
    filter: sepia(1) brightness(0.9) grayscale(.2);
    */

    margin-top: 50px;
    margin-bottom: 50px;
    width: 105%;
    transform: rotate(-3deg);
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

    img{
        margin: 0px;
        object-fit: contain;
    }
}

.scroll{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    white-space: nowrap;
    animation: loop 22s linear infinite;
}

@keyframes loop {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}

.filmStripItem{
    margin-left: 10px;
    margin-right: 10px;
    display: table;
}

.filmStripCaption{
    display: table-caption;
    caption-side: bottom;

    color: #fdfdf8;
    margin: 0px;
    text-wrap: wrap;
}

.captionJustify{
    text-align: justify;
}

.captionCenter{
    text-align: center;
}

@media (max-width: 768px){
    .filmStripRow{
        display: none;
    }
    
    .filmStripColumn{
        display: inline;
        width: 100%;
        margin-bottom: 30px;
    }

    .filmStrip::before{
        transform: rotate(90deg);
    }
    .filmStrip{
        margin: 0px;
        width: 100%; 
        
        img{
            height: calc(20*var(--s));
        }
    }

    .scroll{
        animation: none;
        flex-direction: column;
        align-items: center;
    }

    .filmStripItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filmStripCaption{
        margin: 0px 30px;
    }
}