@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  --foreground: black;
  --background: #fdfdf8;
  --color-text: black;
  --color-accent: #da2030;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--background);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #d67b82;
  border-radius: 20px;
  border: 3px solid #d67b82;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d75660;
  border: 3px solid #d75660;
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 20px;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 16px 0px;

  padding: 0px;
  list-style-type: none;
}

.navListExpanded {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 0px;
  list-style-type: none;
}

.navMenuIcon {
  display: none;
}

@media (max-width: 768px) {
  .container {
    margin: 0px;
  }

  .navMenuIcon {
    display: inline;
  }

  .navList {
    display: none;
  }

  .navListExpanded {
    background-color: var(--background);
    display: flex;
    position: absolute;
    z-index: 1;
    top: 52px;
    right: 0px;
    gap: 2px;
  }
}
