.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homeHeadshot{
    background-color: gray;
    width: 250px;
    margin: 20px;
}

.homeText{
    margin: 20px;
    width: 40%;
    line-height: 1.5;
}

#projectsLink{
    color: var(--accent);
}

.filmStripRow{
    display: block;
}

.filmStripColumn{
    display: none;
}

/* Code from CSS Shapes: https://css-shape.com/film-strip/ */
.filmStrip {
    --s: 10px; /* control the size */
    --c: #222;
    height: calc(25*var(--s));
    aspect-ratio: 1.25;
    background: 
      conic-gradient(at 60% var(--s),var(--c) 75%,#0000 0) 
      0 0/calc(2*var(--s)) calc(100% - var(--s)) padding-box;
    border: var(--s) solid var(--c);
    padding: calc(var(--s)*2.5) calc(var(--s)*1.5);
    box-sizing: content-box;
    /* you can add a filter for an oldish effect 
    filter: sepia(1) brightness(0.9) grayscale(.2);
    */

    margin-top: 50px;
    margin-bottom: 50px;
    width: 105%;
    transform: rotate(-3deg);
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

    img{
        height: calc(22*var(--s));
    }
}

.scroll{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    white-space: nowrap;
    animation: loop 22s linear infinite;
}

@keyframes loop {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}

.filmStripItem{
    margin-left: 10px;
    margin-right: 10px;
    display: table;
}

.filmStripCaption{
    display: table-caption;
    caption-side: bottom;

    color: var(--background);
    margin: 0px;
    text-wrap: wrap;
}

.captionJustify{
    text-align: justify;
}

.captionCenter{
    text-align: center;
}

@media (max-width: 768px){
    .homeContent{
        flex-direction: column;
        margin: 0px;
    }

    .homeHeadshot{
        width: 150px;
    }

    .homeText{
        margin: 0px;
        width: 80%;
        text-align: justify;
    }

    .filmStripRow{
        display: none;
    }
    
    .filmStripColumn{
        display: inline;
        width: 100%;
        margin-bottom: 30px;
    }

    .filmStrip::before{
        transform: rotate(90deg);
    }

    .filmStrip{
        margin: 0px;
        width: 100%; 
        
        img{
            height: calc(20*var(--s));
        }
    }

    .scroll{
        animation: none;
        flex-direction: column;
        align-items: center;
    }

    .filmStripItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filmStripCaption{
        margin: 0px 30px;
    }
}